
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

package-lock.json
.vscode
/data/testdata.db/
allure-report/
allure-results/

logs/

reportes/screenshots/